.pagina13{
    font-family: 'Khand';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pagina13 h4{
    text-align: right;
    padding-right: 6%;
    font-size: 20px;
    margin-top:  20px;
    color: black;
}

.pagina13 h1{
    text-align: center;
    font-size: 56px;
    margin: 0;
}

.agendeHorarios{
    color: white;
    background-color: black;
    font-weight: 700;
    margin: 50px 8%;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: -1px 8px 10px  rgba(0, 0, 0, 0.452);
    text-align: center;
    font-size: 22px;
    
}

.meusHorarios{
    color: white;
    background-color: #FBC508;
    font-weight: 700;
    margin: 0 8% ;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: -1px 8px 10px  rgba(0, 0, 0, 0.452);
    text-align: center;
    font-size: 22px;
}

a{
    text-decoration: none;
}

