html {
  box-sizing: border-box;
  font-family: 'Khand';
}

*,
*:before *:after {
  box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background: #FCC508 !important;
  border-color: white !important;
  color: black !important;
}

.text-gray {
  color: #27353E !important;
}

.time-item {
  margin: 30px;
  cursor: pointer;
  background: #FFCC00;
  color: black;
  padding: 20px;
  min-width: 150px;
  height: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.service-item {
  margin: 30px;
  cursor: pointer;
  background: #FFCC00;
  color: black;
  padding: 20px;
  min-width: 300px;
  min-height: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.service-item:hover {
  transform: scale(1.05);
  background: #F6AE22;
}

.rc {
  width: 90% !important;
  height: 60vh !important;
}